{% extends 'templates/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} House Search Page! {% endblock %}

{% block libraries %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="card-body">
        <form class="bordered" action="{% url 'zipcode' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div id="action-options">
                <button id="loan-save-btn" type="submit" class="save btn btn-success">Search</button>
            </div>
        </form>
    </div>
</div>

{% if search %}
<div class="container">
    <h4>Searched for: {{ search }}</h4>

    {% if result %}
    {% for house in result %}
        <p>
            <a href="{% url 'house' house_id=house.id %}" > {{ house }} </a>
        </p>
    {% endfor %}
    {% else %}
        <h3> No Results!</h3>
    {% endif %}
</div>
{% endif %}
{% endblock %}